@{ 
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["Title"] + " - Home";
}
<div class="main">
    <div class="container relative clearfix">
        <div class="main-section-right">
            <div class="main-section-right-top">
                <!--                             <p>TRX/USD</p>
                                <p>0.033</p> -->
                <script type="text/javascript" src="../files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currencyid="1958" data-base="USD" data-secondary="" data-ticker="false" data-rank="false" data-marketcap="false" data-volume="false" data-statsticker="true" data-stats="USD"></div>
            </div>
            <!--                         <div class="main-section-right-bottom">
                            <span>2.03%</span> 0.001
                        </div> -->
        </div>
        <div class="city">
            <img src="/images/city.svg" alt="">
        </div>
        <div class="main-section-left">
            <h1>@System.Configuration.ConfigurationManager.AppSettings["SiteTitle"]<span>.</span>Live</h1>
            <a href="/login" class="btn bg">Login</a>
            <a href="/register" class="btn">Register</a>
        </div>
        <div class="statistics">
            <div class="row">
                <div class="col-md-3">
                    <div class="statistics-block">
                        <span>@System.Configuration.ConfigurationManager.AppSettings["RegAmount"] TRX</span>
                        <p>Registration</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="statistics-block">
                        <span>@System.Configuration.ConfigurationManager.AppSettings["NoOfPools"]</span>
                        <p>Bases</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="statistics-block">
                        <span>@System.Configuration.ConfigurationManager.AppSettings["DirectIncome"] TRX</span>
                        <p>Direct Income</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="statistics-block">
                        <span>@System.Configuration.ConfigurationManager.AppSettings["TotalEarning"]+</span>
                        <p>TRX Earning</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="content container clearfix">
    
    <div class="worldwide">
        <div class="column">
            <div class="worldwide-title">WORLDWIDE ONE LINE BASE</div>
            <div class="worldwide-block">
                <b>Donate @System.Configuration.ConfigurationManager.AppSettings["RegAmount"] TRX Earn @System.Configuration.ConfigurationManager.AppSettings["TotalEarning"]+ TRX</b>
                <p>Attractive Direct Income</p>
                <p>@System.Configuration.ConfigurationManager.AppSettings["NoOfPools"] Super Base Income</p>
                <p>Infinite Time Limit</p>
            </div>
            <div class="worldwide-block">
                <b>Entry With @System.Configuration.ConfigurationManager.AppSettings["RegAmount"] TRX</b>
                <p>Registration With @System.Configuration.ConfigurationManager.AppSettings["RegAmount"] TRX</p>
                <p>Buy Base 1 With @System.Configuration.ConfigurationManager.AppSettings["RegAmount"] TRX</p>
                <p>Do Unlimited Direct Referrals</p>
            </div>
        </div>
        <div class="column">
            <div class="worldwide-title">TRON BLOCKCHAIN SYSTEM</div>
            <div class="worldwide-block">
                <b>No Hacking</b>
                <p>Secured System.</p>
                <p>Decentralized</p>
                <p>Transparent</p>
            </div>
            <div class="worldwide-block">
                <b>Detailed Note</b>
                <p>Start Referring Members, Get @System.Configuration.ConfigurationManager.AppSettings["DirectIncome"] TRX For Direct Referral</p>
                <p>Enter In Bases And Get Donations</p>
                <p>Get Base Income On First Come And First Serve Basics</p>
            </div>
        </div>
        <div class="cube">
            <img src="/images/icons/cube.svg" alt="">
        </div>
    </div>
    <div id="how-to-start" class="how-to-start">
        <div class="how-to-start-img">
            <img src="/images/how-to-start.svg" alt="">
        </div>
        <h2>How To Start One Line<br> Worldwide Base ?</h2>
        <div class="how-to-start-block">
            <b>LET’S START UNSTOPPABLE @System.Configuration.ConfigurationManager.AppSettings["SiteName"]</b>
            <p>@System.Configuration.ConfigurationManager.AppSettings["SiteName"] Startup Amount :<br> @System.Configuration.ConfigurationManager.AppSettings["RegAmount"] TRX</p>
        </div>
        <div class="how-to-start-block">
            <b>INSTANT P2P MULTI PAYMENTS</b>
            <p>Startup Amount instantly distributed according to smart contract protocols as direct income above the joined users according to Line of sponsors.</p>
        </div>
        <div class="cube2">
            <img src="/images/icons/cube2.svg" alt="">
        </div>
        <div class="cube3">
            <img src="/images/icons/cube3.svg" alt="">
        </div>
    </div>
    <div id="how-it-works" class="how-it-works">
        <div class="how-it-works-img">
            <img src="/images/how-it-works.svg" alt="">
        </div>
        <div class="how-it-works-content">
            <h3>How It Works</h3>
            <ul>
                <li>WorldWide One line (Single-line) structure.</li>
                <li>Every new user will be placed under previous joined user according to Base Entry amount transaction ’Timestamp.’</li>
                <li>Timestamp : It is recorded by the Tron Blockchain that gives the received time of the respective transactions.</li>
                <li>One Line : Every new user pays entry amount to previous joined user 100% from user’s wallet to user’s wallet. (Pee to peer )</li>
                <li>TigersTron Base : One line Base structure is irrespective to referral line or sponsors line. Hence this is real One line WorldWide Base system gives opportunity to earn passive income by TigersTron growth of Unstoppable ‘TigersTron’</li>
                <li>Pool Entry Protocols : Base 1 to @System.Configuration.ConfigurationManager.AppSettings["NoOfPools"] entry protocols are deployed and written on smart contract code.</li>
                <li>Every New user starts from Base 1. It’s mandatory to enter new Base in connective way.</li>
                <li>Base one line structure is based on first enter first get paid protocol.</li>
                <!--                             <li>
                                        To enter Base 1 : No Direct Referral necessary<br>
                                        Base 2 : No Direct Referral necessary<br>
                                        From Base 3 to 10 Every Base need +2 Direct Referral to eligible for Base entry
                                    </li> -->
            </ul>
        </div>
        <div class="cube4">
            <img src="/images/icons/cube4.svg" alt="">
        </div>
    </div>
    <div class="referral-income">
        <div class="column">
            <h3>Referral Income</h3>
            <p>@System.Configuration.ConfigurationManager.AppSettings["SiteName"] is having @System.Configuration.ConfigurationManager.AppSettings["NoOfPools"] Worldwide Bases. One line Base<br> structure is irrespective to referral line. Every New user placed under each<br> other and pays to previous user at Base available at serial Number<br> One.Base system gives opportunity to earn passive income by<br> worldwide growth of Unstoppable ‘TigersTron’</p>
            <b>@System.Configuration.ConfigurationManager.AppSettings["NoOfPools"] BASE | 34 USERS WORLDWIDE<br> | @System.Configuration.ConfigurationManager.AppSettings["TotalEarning"] TRX+ TRX PROFIT</b>
            <p>
                Worldwide One line base is connected to each other in consecutive way. From 1 to @System.Configuration.ConfigurationManager.AppSettings["NoOfPools"]
                Autopools multiply your @System.Configuration.ConfigurationManager.AppSettings["RegAmount"] TRX to @System.Configuration.ConfigurationManager.AppSettings["TotalEarning"] TRX<br>
                1st Base needs 2 users worldwide to push forward and give you profit.<br>
                2st Base needs 2 users worldwide to push forward and give you profit.<br>
                3nd to @System.Configuration.ConfigurationManager.AppSettings["NoOfPools"]th Base needs 3 Users each pool to push forward and give you profit. i.e. Total 34 Users worldwide.
            </p>
        </div>
        <div class="column">
            @foreach (var item in Utility.GetLevelIncome())
            {
                <div class="line">
                    <span>@item.StrLevel</span>
                    <span>@item.Amount TRX</span>
                </div>
            }
            <b>3072X YOUR INVESTMENT :</b>
            <p>
                On Completion on @System.Configuration.ConfigurationManager.AppSettings["NoOfPools"] Worldwide One Line Bases get @System.Configuration.ConfigurationManager.AppSettings["TotalEarning"] TRX<br>
                Amazing ! You started with just @System.Configuration.ConfigurationManager.AppSettings["RegAmount"] TRX from 1st Base and Earned<br> @System.Configuration.ConfigurationManager.AppSettings["TotalEarning"] TRX.<br>
                Earn @System.Configuration.ConfigurationManager.AppSettings["TotalEarning"] TRX on every Cycle Out.
            </p>
        </div>
    </div>
    <div class="real-one-line">
        <h4>Real One Line Worldwide @System.Configuration.ConfigurationManager.AppSettings["NoOfPools"]<br> Bases</h4>
        <p>
            Worldwide One line base is connected to each other in consecutive<br> way. From 1 to @System.Configuration.ConfigurationManager.AppSettings["NoOfPools"] Autopools multiply your @System.Configuration.ConfigurationManager.AppSettings["RegAmount"] TRX
            to @System.Configuration.ConfigurationManager.AppSettings["TotalEarning"] TRX
        </p>
        <div class="table">
            <table>
                <tr>
                    <th style="text-align:center">Base</th>
                    <th style="text-align:center">Entry TRX</th>
                    <th style="text-align:center">World Wide Users</th>
                    <th style="text-align:center">Total TRX</th>
                    <th style="text-align:center">Total Profit</th>
                </tr>
                @foreach (var item in Utility.GetPools())
                {
                    <tr>
                        <td data-th="AutoPool">@item.PoolNo</td>
                        <td data-th="Entry TRX">@item.PoolAmount</td>
                        <td data-th="World Wide Users">@item.NoOfAccounts</td>
                        <td data-th="Total TRX">@item.NoOfAccounts * @item.ProfitPerAccount= @(item.NoOfAccounts * item.ProfitPerAccount) TRX</td>
                        <td data-th="Total Profit">@(item.NoOfAccounts * item.ProfitPerAccount) TRX</td>
                    </tr>
                }

            </table>
        </div>
        <p>! @System.Configuration.ConfigurationManager.AppSettings["NoOfPools"] REAL ONE LINE WORLDWIDE BASES ! ! CONVERT @System.Configuration.ConfigurationManager.AppSettings["RegAmount"] TO @System.Configuration.ConfigurationManager.AppSettings["TotalEarning"] TRX !</p>
    </div>
    <div class="how-autopool-works">
        <h3>How Base Works ?</h3>
        <p>@System.Configuration.ConfigurationManager.AppSettings["SiteTitle"] is having @System.Configuration.ConfigurationManager.AppSettings["NoOfPools"] Worldwide Bases. One line Base<br> structure is irrespective to referral line. Every New user placed under each<br> other and pays to previous user at Base available at serial Number<br> One. Base system gives opportunity to earn passive income by<br> worldwide growth of Unstoppable ‘’</p>
        <div class="autopools">
            @foreach (var item in Utility.GetPools())
            {
                <div class="autopool">
                    <div class="autopool-title">WORLDWIDE BASE @item.PoolNo</div>
                    <div class="autopool-sub-title">
                        <span>Entry @item.PoolAmount</span>
                        <span>Profit @(item.NoOfAccounts * item.ProfitPerAccount)</span>
                    </div>
                    @if (item.PoolNo <= 2)
                    {
                        <div class="autopool-sub-content">
                            <div class="user big white"></div>
                            <div class="user big blue">
                                <span>1</span>
                            </div>
                            <div class="user big blue">
                                <span>2</span>
                            </div>
                            <div class="arrow left big last-one"></div>
                            <div class="arrow right middle last-one"></div>
                        </div>
                    }
                    else
                    {
                        <div class="autopool-sub-content">
                            <div class="arrow left big last-one spec"></div>
                            <div class="arrow right middle last-one spec"></div>
                            <div class="arrow right small one"></div>
                            <div class="user small"></div>
                            <div class="user small blue">
                                <span>1</span>
                            </div>
                            <div class="user small blue">
                                <span>2</span>
                            </div>
                            <div class="user small blue">
                                <span>3</span>
                            </div>
                        </div>
                    }
                    <div class="autopool-text">
                        <p>@item.NoOfAccounts Worldwide joint user pays you </p>
                        <p>@item.ProfitPerAccount TRX each</p>
                    </div>
                    <a href="#" class="autopool-btn">@item.NoOfAccounts * @item.ProfitPerAccount = @(item.NoOfAccounts * item.ProfitPerAccount) TRX</a>
                </div>
            }

        </div>
    </div>
    <div id="faq" class="faq">
        <div class="faq-img">
            <img src="/images/frequently.svg" alt="">
        </div>
        <div class="faq-title">Frequently Asked Questions</div>
        <div class="faqs">
            <div class="faq-block">
                <div class="faq-block-top">Q. How to start working with @System.Configuration.ConfigurationManager.AppSettings["SiteTitle"]?</div>
                <div class="faq-block-content">Step 1 : Registration.<br>Step 2 : Buy Any BASE and Earn TRON with Global BASE.</div>
            </div>
            <div class="faq-block">
                <div class="faq-block-top">Q. What is TRON?</div>
                <div class="faq-block-content">TRON (TRX) is one of the leading cryptocurrency established in 2017. The blockchain of the cryptocurrency allows you to create on the basis of smart contracts. A huge number of large crypto companies uses this currency.</div>
            </div>

            <div class="faq-block">
                <div class="faq-block-top">Q. What Happen with My Registrar Fees ?</div>
                <div class="faq-block-content">A.Registration Fees @System.Configuration.ConfigurationManager.AppSettings["RegAmount"] TRX is instantly paid to your direct<br> sponsor.</div>
            </div>
            <div class="faq-block">
                <div class="faq-block-top">Q. How many BASE are in the system ?</div>
                <div class="faq-block-content">A.Total @System.Configuration.ConfigurationManager.AppSettings["NoOfPools"] Worldwide BASE in the system.</div>
            </div>
            <div class="faq-block">
                <div class="faq-block-top">Q. What is a SMART CONTRACT? What are its ADVANTAGES?</div>
                <div class="faq-block-content">A.Smart contract – the algorithm inside the blockchain cryptocurrencies. In our case that TRON is number one among the those on which it is possible to create smart contracts. The main purpose of such contracts is the automation of the relationship, the opportunity to make commitments.</div>
            </div>
            <div class="faq-block">
                <div class="faq-block-top">Q. Who MANAGES the platform?</div>
                <div class="faq-block-content">A.Platform @System.Configuration.ConfigurationManager.AppSettings["SiteTitle"] does not have a Manager. There are the creators of the Smart contract who works in the TRON blockchain. This means that the platform is fully decentralized (i.e. it has no leaders or admins).</div>
            </div>
            <div class="faq-block">
                <div class="faq-block-top">Q. WHAT DATA DO I NEED TO REGISTER?</div>
                <div class="faq-block-content">
                    A.To register you will need only a wallet Tronlink - a Google Chrome extension (PC) and/or some other applications for mobile devices. Tested and safe applications:<br>
                    wallet Tronlink <a href="https://www.tronlink.org/" target="_blank">https://www.tronlink.org/</a><br>
                    wallet Tron Wallet <a href="https://www.tronwallet.me/" target="_blank">https://www.tronwallet.me/</a><br>
                    Pocket Wallet Token <a href="https://www.tokenpocket.pro/" target="_blank">https://www.tokenpocket.pro</a>
                    During registration you will need to enter the name or email address.
                </div>
            </div>
            <div class="faq-block">
                <div class="faq-block-top">Q. HOW TO BUY TRON, IF I NEVER HAD TO DEAL WITH CRYPTOCURRENCY?</div>
                <div class="faq-block-content">
                    A.There are many ways of buying/selling cryptocurrency - all of them are as simple as with ordinary money, enough to make a couple of transactions independently, then each operation will take you no more than 1-2 minutes. One of the main ways is the use of sharing sites that allow you to exchange real money for free. One of the ways of replenishment of the purse.
                    Proven website exchange: <a href="https://www.bestchange.net/" target="_blank">https://www.bestchange.net/</a>
                </div>
            </div>
            <div class="faq-block">
                <div class="faq-block-top">Q. HOW TO SWAP ETHEREUM TO TRON?</div>
                <div class="faq-block-content">
                    A.If you have Ethereum than need not to buy TRX.You can just swap Ethereum to Tron in <a href="https://www.bestchange.net/ethereum-to-tron.html" target="_blank">https://www.bestchange.net/ethereum-to-tron.html</a>
                </div>
            </div>


            <div class="faq-block">
                <div class="faq-block-top">Q. What is Worldwide One Line Base ?</div>
                <div class="faq-block-content">A. Worldwide One Line Base is one Worldwide network based on first enter first Join Basis.</div>
            </div>
            <div class="faq-block">
                <div class="faq-block-top">Q. How many Bases are in the system ?</div>
                <div class="faq-block-content">A. Total @System.Configuration.ConfigurationManager.AppSettings["NoOfPools"] Worldwide Bases in the system.</div>
            </div>
            <div class="faq-block">
                <div class="faq-block-top">Q. Can I buy the 4th base at once?</div>
                <div class="faq-block-content">A. No, all bases are bought in turn. If you haven't bought 1-2-3 bases, then you cannot buy base 4.</div>
            </div>
            <div class="faq-block">
                <div class="faq-block-top">Q. What happen is I not Enter at Next Base ?</div>
                <div class="faq-block-content">A.Your account remain active in the system forever, and you will get Referral Income from entire team. you may enter next Base anytime you wants.</div>
            </div>
            <div class="faq-block">
                <div class="faq-block-top">Q. What is Maximum Profit after @System.Configuration.ConfigurationManager.AppSettings["NoOfPools"]th Base ?</div>
                <div class="faq-block-content">A.Total @System.Configuration.ConfigurationManager.AppSettings["TotalProfit"] TRX you will get after @System.Configuration.ConfigurationManager.AppSettings["NoOfPools"]th Base.</div>
            </div>
            <div class="faq-block">
                <div class="faq-block-top">Q. Is my (TRX) Funds safe ?</div>
                <div class="faq-block-content">A.YES, YOUR FUND IS SAFE as it's always Stored on Decentralized Tron Wallets like TRUST WALLET or METAMASK</div>
            </div>
            <div class="faq-block">
                <div class="faq-block-top">Q. Is it possible to earn Passively here at @System.Configuration.ConfigurationManager.AppSettings["SiteTitle"] ?</div>
                <div class="faq-block-content">
                    A.Yes, Definitely. As @System.Configuration.ConfigurationManager.AppSettings["SiteTitle"] is Worldwide One Line Base Decentralized Open Source Smart Contract System.
                    Every New User who Joins after you falls under you in one (Uni/Mono) line. Personal Invitation or Recruitment gives
                    you additional Opportunity to earn Referral Income @System.Configuration.ConfigurationManager.AppSettings["DirectIncome"] TRX.
                </div>
            </div>
            <div class="faq-block">
                <div class="faq-block-top">Q. I don't have Referral link, can I register with<br> @System.Configuration.ConfigurationManager.AppSettings["SiteTitle"] ?</div>
                <div class="faq-block-content">A. Yes,You will be Register under Systems Referral link.</div>
            </div>
        </div>
        <div class="faq-img"></div>
    </div>
    <div id="contract" class="smart-contract">
        <div class="smart-contract-title">Smart Contract Address</div>
        <p>A contract paper is an authoritative report or guide that informs readers concisely about a complex issue and presents the issuing body's philosophy on the matter. It is meant to help readers understand an issue, solve a problem, or make a decision.</p>
        <a href="https://tronscan.org/#/contract/@System.Configuration.ConfigurationManager.AppSettings["Contract"]/code" target="_blank" class="btn view">View</a>
        <div class="cube5">
            <img src="/images/icons/cube5.svg" alt="">
        </div>
    </div>
</div>  
  
